@model QuoteManager
<div class="row">
    <h1>Quote Administration</h1>
</div>
<div class="row">
    <h2>Add a quote</h2>
</div>
<div class="row">
    <h4>@ViewBag.Message</h4>
</div>
<div class="row">
    <form enctype="multipart/form-data" method="post" asp-controller="QuoteAdmin" asp-action="AddQuote">
        <div class="form-group">
            <label asp-for="quote.content">Quote <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="quote" asp-for="@Model.quote.content" value="@Model.quote.content" placeholder="Quote Text">
            <span class="text-danger" asp-validation-for="@Model.quote.content"></span>
        </div>
        <div class="form-group">
            <label asp-for="quote.author">Author <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="author" asp-for="@Model.quote.author" value="@Model.quote.author" placeholder="Author">
            <span class="text-danger" asp-validation-for="@Model.quote.author"></span>
        </div>
        <div class="form-group">
            <label asp-for="quote.permaLink">PermaLink</label>
            <input type="text" class="form-control" id="permaLink" asp-for="@Model.quote.permaLink" value="@Model.quote.permaLink" placeholder="Link to Quote">
            <span class="text-danger" asp-validation-for="@Model.quote.permaLink"></span>
        </div>
        <div class="form-group">
            <label for="Image">Image <span class="text-danger">*</span></label>
            <input type="file" id="image" name="Image" placeholder="Image">
            <span class="text-danger">@ViewBag.error</span>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
<div class="row">
    <h2>Delete a Quote</h2>
</div>
<div class="row">
    <form method="post" asp-controller="QuoteAdmin" asp-action="DeleteQuote">
        <div class="form-group">
            <label asp-for="id">Quote to Delete</label>
            <select class="form-control" asp-for="id">
                <option value="0">Select a Quote</option>
                @foreach (Quote quote in @Model.quotes) {
                    <option value="@quote.id">@{if (@quote.content.Length > 100) {
                            @quote.content.Substring(0, 100);
                        }
                        else {
                            @quote.content;
                        }
                    }</option>
                }
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Delete</button>
        </div>
    </form>
</div>